# -*- mode: yaml; -*-
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
